@import "tailwindcss";
@import "./../../../src/components/theme/vars.css";
@import "./code-theme.css";

@source "./../../../docs/";
@source "./../../../src/components/";

@theme inline {
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-inter);
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}