@import "tailwindcss";
@import "@vaneui/ui/vars";
@import "./code-theme.css";

@source "./../node_modules/@vaneui/ui";

@theme inline {
    --font-mono: var(--font-jetbrains-mono);
    --font-sans: var(--font-inter);
}

@layer theme {
    :root, :host {
        /*--border-color-primary: var(--color-gray-200);*/
    }
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e0e0e0 transparent;
    scrollbar-gutter: auto;
}